@charset "UTF-8";
@import 'foundation/foundation';
@import "layout/function";
// --------------------------------------------------------
/* Container Style*/
// --------------------------------------------------------
$green:#2b963d;
$yellow:#2b963d;
$block3:#3d3d3d;
$block4:#4a4a4a;
$block6:#666666;
$rad:#c43632;
$white:#ffffff;


body {background-color:#f0f0f0;} 
.cart_content{width:100%;background-image:url(../images/dotbg.png);background-size:60%;background-repeat:repeat-x;background-position:center top;padding:70px 0 0 0;margin:0 0 150px 0;
  @include breakpoint (medium down) {padding:30px 0 0px 0;background-size:960px;margin:0 0 60px 0;} //1024　↓
  &.nonebg{background-image:none;display:none;
    &.click{display:block;}
  }
  &.small{
    .cartcenter{max-width:550px;
      .member_center{
        .guestarea{
          .guesttitle{margin:0px 0 20px 0;position:relative;
            @include breakpoint (medium down) {margin:15px 0 20px 0;} //1024　↓
            a{width:50px;height:50px;background-color:#466cad;border-radius:50px;padding:1px 10px 9px 10px;font-size:22px;transition:0.4s;cursor:pointer;
              position:absolute;right:0;top:0;opacity:0.85;transition:0.4s;
              @include breakpoint (medium down) {width:30px;height:30px;border-radius:30px;padding:0 4px 3px 4px;font-size:16px;opacity:1;} //1024　↓
              .fbicon{color:$white;}
              &:hover{opacity:1;transition:0.4s;}
            }
          }
          .numberingtext{text-align:center;color:$block3;
            @include breakpoint (medium down) {margin-top:10px;} //1024　↓
          }
          .numbering{text-align:center;color:$block3;position:relative;padding-bottom:20px;margin-bottom:30px;
            @include breakpoint (medium down) {padding-bottom:15px;margin-bottom:10px;} //1024　↓
            &::after{content:"";position:absolute;width:30px;height:6px;border-radius:10px;bottom:0px;left:calc(50% - 15px);
              background-color:$green;transform:scale(1);transition:0.4s;
              @include breakpoint (medium down) {height:3px;bottom:0px;left:calc(50% - 7.5px);width:15px;opacity:1;transform:scale(1);}
            }
          }
          .qrbox{margin-bottom:20px;
            .qrimg{width:100%;max-width:230px;margin:40px auto 20px auto;img{width:100%;}}
            .qrid{color:$green;text-align:center;}
          }
        }
      }
      .hasaccount{text-align:center;color:$block6;margin:35px 0 0 0;
        @include breakpoint (medium down) {margin:20px 0 0 0;} //1024　↓
        a{color:$green;cursor:pointer;
          .buttonicon{color:$green;font-size:15px;
            &:before{transform:translateY(1px);transition:0.4s;}
          }
          &:hover{
            .buttonicon{
              &:before{transform:translateY(1px) translateX(5px);transition:0.4s;}
            }
          }
        }
        &.back{
          a{
            .buttonicon{
              &:before{transform:translateY(2px) rotate(180deg) translateX(5px);}
            }
            &:hover{
              .buttonicon{
                &:before{transform:translateY(2px) rotate(180deg) translateX(10px);}
              }
            }
          }
        }
      }
    }
  }
  &.search{padding:0px 0 0 0;}
  .cartcenter{@extend %content_w;margin:0 auto 70px auto;position:relative;overflow:hidden;
    @include breakpoint (medium down) {margin:0 auto 40px auto;} //1024　↓
    @include breakpoint (small down) {margin:0 auto 20px auto;} 
    .member_pagename{color:$green;text-align:center;}
    .member_pagetext{color:$block6;text-align:center;margin:0 0 25px 0;}
    // 步驟位置icon
    .typeposition{width:100%;overflow:hidden;margin:40px auto 30px auto;max-width:500px;
      @include breakpoint (small down) {max-width:280px;} 
      .typebox{background-color:$white;width:50px;height:50px;border-radius:50px;padding:10px 7.5px;margin-left:calc((100% - 200px) / 3);float:left;position:relative;z-index:9;
        @include breakpoint (small down) {width:40px;height:40px;border-radius:40px;margin-left:calc((100% - 160px) / 3);} 
        &::before{content:"";width:calc(500px / 3 - 60px);height:2px;position:absolute;top:calc(50% - 1px);left:-200%;background-color:$white;z-index:1;
          @include breakpoint (small down) {left:-100%;width:calc(280px / 3 - 50px);} 
        }
        &:first-child{margin:0;&::before{height:0px;}}
        .typeicon{color:#a7a1aa;font-size:25px;
          @include breakpoint (small down) {font-size:18px;} 
        }
        &.typehere{background-color:$green;
          &::before{background-color:$green;}
          .typeicon{color:$white;}
        }
      }
    }
    .member_center{background-color:$white;padding:40px 70px;overflow:hidden;
      @include breakpoint (medium down) {padding:5px 15px 15px 15px;} //1024　↓
      .tablebox{display:flex;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;
        @include breakpoint (medium down) {display:block;border-top:1px solid #dcdcdc;margin:10px 0 0 0;} //1024　↓
        &.title{background-color:$block3;
          @include breakpoint (medium down) {display:none;} //1024　↓
          .tablearticle{padding:10px 10px;
            h6{color:$white;margin:0px 0 0 0;}
            &.price{h6{margin:0px 0 0 0;}}
            &.quantity{padding:10px 10px;h6{margin:0px 0 0 0;}}
            &.amount{h6{margin:0px 0 0 0;}}
          }
        }
        .tablearticle{padding:20px 35px;text-align:center;
          @include breakpoint (medium down) {padding:0;border-bottom:1px solid #dcdcdc;overflow:hidden;display:flex;} //1024　↓
          &.content{width:calc(100% - 120px - 120px - 150px);text-align:left;
            @include breakpoint (medium down) {width:100%;} //1024　↓
            .tablbox{display:flex;}
          }
          &.price{width:120px;border-left:1px solid #dcdcdc;
            @include breakpoint (medium down) {width:100%;border-left:none;} //1024　↓
            .tablbox{
              h6{margin:30px 0 0 0;
                @include breakpoint (medium down) {margin:0px 0 0 0;} //1024　↓
              }
            }
          }
          &.quantity{width:150px;padding:20px 12px;border-left:1px solid #dcdcdc;
            @include breakpoint (medium down) {width:100%;padding:0px;border-left:none;} //1024　↓
          }
          &.amount{width:120px;border-left:1px solid #dcdcdc;
            @include breakpoint (medium down) {width:100%;border-left:none;} //1024　↓
            .tablbox{
              h6{margin:30px 0 0 0;
                @include breakpoint (medium down) {margin:0px 0 0 0;} //1024　↓
              }
            }
          }
          .mo_title{display:none;width:80px;float:left;background-color:$block3;color:$white;padding:8px 0;text-align:center;
            @include breakpoint (medium down) {display:block;}
          }
          .tablbox{
            @include breakpoint (medium down) {width:calc(100% - 80px);float:right;padding:8px 15px;max-width:300px;}
            .propic{width:70px;height:80px;
              @include breakpoint (medium down) {width:50px;height:57.5px;} //1024　↓
              @include breakpoint (small down) {}
            }
            .propic_text{
              .pro_name{color:$green;margin:5px 0 0 20px;
                @include breakpoint (medium down) {margin:px 0 0 15px;} //1024　↓
              }
              h4{margin:0px 0 0 20px;
                @include breakpoint (medium down) {margin:0px 0 0 15px;} //1024　↓
              }
            }
            h6{
              @include breakpoint (medium down) {text-align:left;}
            }
          }
          &.quantity{
            @include breakpoint (medium down) {width:100%;margin:0px auto;}
            .tablbox{
              .buttonbox{margin:24px 0 0 0;background-color:$block3;overflow:hidden;
                @include breakpoint (medium down) {margin:0px 0 0 0;} //1024　↓
                &:before, &:after{content: '';width: 1px;height: 100%;background:#ccc;}
                &:before{left: 12px;}
                &:after{right: 12px;}
                button, input{text-align:center;line-height:inherit;padding:0;float:left;height:100%;background:transparent;font-size:16px;font-weight:normal;color:#80838b;height:36px;box-sizing:border-box;}
                input{width: calc(100% - (36px * 2));border:none;-webkit-appearance:none;outline:none;color:#fff;
                  &:focus{box-shadow:none;border:none;}
                }
                .sub-btn, .add-btn{width:36px;border:1px solid #e5e5e5;background:#e5e5e5;color:#fff;border-radius:0px;-webkit-appearance:none;outline:none;cursor:pointer;transition:0.4s;
                  &:hover{background:$block6;transition:0.4s;}
                }
                .sub-btn{
                  span{font-size:25px;line-height:100%;margin:0 0 0 -2px;}
                }
                .add-btn{
                  span{font-size:27px;line-height:85%;margin:0 0 0 0px;}
                }
              }
              h6{margin:30px 0 0 0;
                @include breakpoint (medium down) {margin:0px 0 0 0;} //1024　↓
              }
            }
          }
        }
        .end_pricetext{width:calc(100% - 120px);text-align:right;padding:15px 12px;
          @include breakpoint (medium down) {padding:10px;} //1024　↓
          .radiobox{display:flex;float:right;margin:0 0 0 15px;
            @include breakpoint (medium down) {float:left;margin:0 0 0 0px;text-align:left;} //1024　↓
            input{display:table;-webkit-appearance:radio;width:20px;height:20px;margin:3px 5px 0 10px;
              @include breakpoint (small down) {height:15px;} 
            }
            span{
              @include breakpoint (medium down) {display:block;font-size:12px;} //1024　↓
            }
          }
        } 
        &.auto , &.totlepay{
          @include breakpoint (medium down) {margin:0px 0 0 0;border-top:none;display:flex;} //1024　↓
          .end_pricetext{width:calc(100% - 120px);
            @include breakpoint (medium down) {width:calc(100% - 80px);} //1024　↓
          }
          .tablearticle{
            @include breakpoint (medium down) {border-bottom:none;width:80px;} //1024　↓
            &.amount{padding:15px 12px;
              @include breakpoint (medium down) {border-left:1px solid #dcdcdc;padding:10px;} //1024　↓
              h6{margin:0px 0 0 0;}
            }
          }
        }
        &.totlepay{background-color:#e5e5e5;
          .tablearticle{
            &.amount{h6{color:$rad;transform:scale(1.2);}}
          }
        }
      }
      .salebar{margin:40px 0 0 0;border:1px solid #d8d8d8;background-color:rgba(220, 220, 220, 0.2);display:flex;
        @include breakpoint (medium down) {margin:15px 0 0 0;display:block;} //1024　↓
        &.type2{
          .salebox{
            @include breakpoint (small down) {display:block;overflow:hidden;} //1024　↓
          }
        }
        .saletext{width:160px;border-right:1px solid #d8d8d8;color:$block6;text-align:center;padding:29px 0;
          @include breakpoint (medium down) {width:100%;padding:10px 0;border-bottom:1px solid #d8d8d8;border-right:none;} //1024　↓
        }
        .salebox{padding:20px 40px;display:flex;width:100%;
          @include breakpoint (medium down) {width:100%;padding:10px;} //1024　↓
          input{height:45px;cursor:pointer;
            &:focus{box-shadow:none;}
          }
          .typing{background-color:#f0f0f0;width:calc(100% - 120px);padding:0 10px;
            @include breakpoint (medium down) {width:calc(100% - 80px);} //1024　↓
          }
          .send{background-color:#c43632;border:1px solid #c43632;color:#fff;width:120px;opacity:0.9;transition:0.4s;
            @include breakpoint (medium down) {opacity:1;width:80px;font-size:14px;} //1024　↓
            &:hover{opacity:1;transition:0.4s;}
          }
          .radiobox{display:flex;float:left;margin:0 15px 0 0;padding:10px 30px 0 0;
            @include breakpoint (xlarge down) {float:left;margin:0 0 0 0px;text-align:left;} //1024　↓
            input{display:table;-webkit-appearance:radio;width:20px;height:20px;margin:3px 5px 0 10px;
              @include breakpoint (small down) {height:15px;} 
            }
            span{
              @include breakpoint (medium down) {display:block;font-size:12px;} //1024　↓
            }
          }
        }
      }
      //購物車按鈕
      .cart_buttonbox{width:400px;overflow:hidden;float:right;margin:30px 0 0 0;
        @include breakpoint (medium down) {margin:15px 0 5px 0;} //1024　↓
        @include breakpoint (small down) {width:100%;max-width:300px;margin:15px auto 0 auto;float:none;} 
        .linkbutton{width:calc(100% / 2 - 5px);float:left;background-color:$block3;transition:0.4s;
          @include breakpoint (small down) {width:100%;} 
          &:nth-of-type(1){margin:0 5px 0 0;
            @include breakpoint (small down) {margin:0 0 10px 0;} 
            p{text-align:right;}
            .buttonicon{left:20px;right:initial;top:5px;transform:rotate(180deg);}
            &:hover{
              .buttonicon{left:15px;transition:0.4s;}
            }
          }
          &:nth-of-type(2){margin:0 0 0 5px;
            @include breakpoint (small down) {margin:0 0 10px 0;} 
          }
          p{color:$white;font-size:16px; @include breakpoint (large down) {font-size:14px;}}
          .buttonicon{color:$white;
            @include breakpoint (small down) {font-size:16px;} 
          }
          &:hover{background-color:$green;transition:0.4s;}
        }
        .onlybutton{width:200px;padding:15px 0;margin-left:calc((100% - 200px) / 2);border-radius:30px;background-color:$block3;color:$white;border:none;transition:0.4s;cursor:pointer;
          font-size:14px;
          @include breakpoint (medium down) {margin-left:calc((100% - 325px) / 2);} //1024　↓
          @include breakpoint (small down) {margin-left:calc((100% - 200px) / 2);} 
          &:hover{background-color:$green;transition:0.4s;}
        }
        &.left{width:100%;
          @include breakpoint (small down) {max-width:100%;} 
          .onlybutton{margin-left:0;
            @include breakpoint (small down) {width:100%;margin-left:calc((100% - 200px) / 2);max-width:200px;} 
          }
          .forget_psw{
            @include breakpoint (small down) {float:none;text-align:center;display:block;} 
          }
        }
        &.tepy4{width:100%;
          @include breakpoint (small down) {max-width:100%;} 
          a{background-color:$block3;border-radius:20px;color:$white;display:block;
            &:nth-of-type(1){}
            &:nth-of-type(2){}
            p{color:$white;}
            .buttonicon{color:$white;}
          }
        }
        .forget_psw{float:right;text-align:right;color:$block3;margin:5px 0 0 0;transition:0.4s;
          .shapeicon{font-size:20px;
            &::before{transform:translateY(3px);}
          }
          &:hover{color:$green;transition:0.4s;}
        }
      }
      //訂購人資料
      .guestarea{overflow:hidden;padding:0 0 20px 0;border-bottom:1px solid #f0f0f0;position:relative;
        .guesttitle{color:$block3;margin:50px 0 30px 0;display:flex;
          @include breakpoint (medium down) {margin:25px 0 15px 0;} //1024　↓
          &.number{margin:0 0 30px 0;font-weight:600;
            @include breakpoint (medium down) {margin:25px 0 15px 0;} //1024　↓
          }
          &.book{margin:0px 0 30px 0;
            @include breakpoint (medium down) {margin:25px 0 15px 0;} //1024　↓
          }
        }
        &.noline{border-bottom:none;padding:0 0 0px 0;}
        .guestsubtitle{color:$block6;padding:0 0 25px 0;border-bottom:1px solid rgba(0,0,0,0.2);margin-bottom:25px;
          @include breakpoint (medium down) {padding:0 0 15px 0;margin-bottom:15px;} //1024　↓
          &.no_border{border:none;margin-bottom:0px;}
        }
        .guest_msg{width:100%;margin:0 0 15px 0;float:left;
          &.helf{width:calc(100% / 2 - 25px);
            @include breakpoint (medium down) {width:100%;} //1024　↓
          }
          &.right{margin:0 0 15px 50px;
            @include breakpoint (medium down) {margin:0;} //1024　↓
          }
          .msgtitle{width:100%;min-height:21px;font-size:14px;margin:0 0 8px 0;color:$block6;
            @include breakpoint (medium down) {min-height:initial;} //1024　↓
            span{color:#d0021b;}
          }
          .msgtext{width:100%;height:45px;font-size:14px;background-color:#f0f0f0;color:$block3;padding:0 15px;border:1px solid #f0f0f0;
            @include breakpoint (medium down) {padding:0 10px;} //1024　↓
            &:focus{box-shadow:none;border:1px solid $green;}
          }
          .textbox{
            .msgtext{float:left;width:calc((100% - 30px) / 3);margin-left:15px;
              &:first-child{margin-left:0px;}
            }
            select{-webkit-appearance: menulist;}
          }
          .radiobox{display:flex;float:left;margin:10px 15px 15px 0;padding:0px 0 0 0;
            @include breakpoint (medium down) {float:left;margin:0 10px 15px 0px;text-align:left;} //1024　↓
            input{display:table;-webkit-appearance:radio;width:20px;height:20px;margin:3px 5px 0 0px;
              @include breakpoint (small down) {height:15px;} 
            }
            span{
              @include breakpoint (medium down) {display:block;font-size:12px;} //1024　↓
            }
            h6{a{color:$green;border-bottom:1px solid $green;font-size:16px;
              @include breakpoint (medium down) {font-size:14px;} //1024　↓
            }}
          }
          &.map{
            .msgword{width:calc(100% - 140px);
              @include breakpoint (small down) {width:100%;} //1024　↓
            }
            .map{right:0;top:0px;padding:16px 0 17px 0;font-size:12px;
              @include breakpoint (small down) {width:100%;position:relative;top:initial;right:initial;display:block;padding:12px 0 13px 0;margin:5px 0 0 0;} //1024　↓
            }
          }
          .msgword{background-color:#f0f0f0;padding:18px 20px 22px 20px;color:$block3;font-size:14px;line-height:100%;position:relative;
            .wordicon{color:$block6;font-size:18px;
              &::before{margin:0px 10px 0 0;transform: translateY(3px);}
            }
          }
          .map{position:absolute;right:10px;top:9px;font-size:14px;background-color:$block3;color:$white;text-align:center;width:120px;border-radius:30px;padding:14px 0 15px 0;
            transition:0.4s;
            &:hover{background-color:$green;transition:0.4s;
              @include breakpoint (medium down) {background-color:$block3;} //1024　↓
            }
          }
          .msgbuttonbox{margin:0px 0 0 0;background-color:$block3;display:flex;
            @include breakpoint (medium down) {margin:0px 0 0 0;} //1024　↓
            &:before, &:after{content: '';width: 0px;height: 100%;background:#ccc;}
            &:before{left: 12px;}
            &:after{right: 12px;}
            button, input{line-height:inherit;padding:0;height:100%;background:transparent;font-size:16px;font-weight:normal;color:#80838b;height:45px;box-sizing:border-box;}
            input{width: calc(100% - (45px * 2));border:none;-webkit-appearance:none;outline:none;color:$block3;background:#f0f0f0;padding:0 20px;
              &:focus{box-shadow:none;border:none;}
            }
            .sub-btn, .add-btn{width:45px;text-align:center;background:#f0f0f0;color:$block3;border-radius:0px;-webkit-appearance:none;outline:none;cursor:pointer;transition:0.4s;
              &:hover{background:$white;box-shadow:0 0 5px rgba(0,0,0,0.2);transition:0.4s;
                @include breakpoint (medium down) {background:#f0f0f0;box-shadow:0 0 5px rgba(0,0,0,0);} //1024　↓
              }
            }
            .sub-btn{
              span{font-size:25px;line-height:100%;margin:0 0 0 -2px;}
            }
            .add-btn{
              span{font-size:27px;line-height:85%;margin:0 0 0 0px;}
            }
          }
          canvas{float:left;}
          #randomword{float:left;color:$green;margin:10px 0 10px 20px;cursor:pointer;}
        }
        &.textarea{
          border:none;margin:20px 0 0 0;
          .guest_msg{
            textarea{width:100%;resize:none;height:100px;}
          }
        }
        &.note{margin:0 0 20px 0;
          @include breakpoint (medium down) {margin:15px 0;} //1024　↓
        }
        .topclosebutton{color:$green;position:absolute;right:0;top:0;font-size:20px;cursor:pointer;transition:0.4s;
          @include breakpoint (medium down) {top:25px;} //1024　↓
          &:hover{transform:rotate(180deg);transition:0.4s;
            @include breakpoint (medium down) {transform:rotate(0deg);} //1024　↓
          }
        }
        .cart_buttonbox{width:100%;overflow:hidden;float:right;margin:0px 0 10px 0;
          @include breakpoint (medium down) {margin:15px 0 5px 0;} //1024　↓
          @include breakpoint (small down) {width:100%;max-width:100%;margin:15px auto 0 auto;float:none;} 
          a{background-color:$block3;border-radius:30px;color:$white;display:block;float:left;width:calc(100% / 2 - 10px);padding:9px 0 11px 0;transition:0.4s;
            @include breakpoint (medium down) {background-color:$green;} //1024　↓
            @include breakpoint (small down) {width:calc(100% - 0px);} 
            &.only{float:none;margin:0 auto;}
            &:nth-of-type(2){margin:0 0 0 20px;
              @include breakpoint (small down) {margin:10px 0 0 0px;} 
            }
            p{color:$white;text-align:center;font-size:15px;
              @include breakpoint (medium down) {font-size:14px;} //1024　↓
            }
            .buttonicon{color:$white;font-size:17px;margin-right:10px;
              &::before{transform:translateY(2px);}
              @include breakpoint (medium down) {font-size:16px;} //1024　↓
            }
            &:hover{background-color:$green;transition:0.4s;}
          }
        }
        .note{text-align:right;font-size:13px;color:$block6;
          span{color:#d0021b;}
        }
      }
      .closebutton{width:50px;height:50px;background-color:$green;border-radius:50px;padding:12px 10px;font-size:22px;margin:0 auto;transition:0.4s;cursor:pointer;
        @include breakpoint (medium down) {width:30px;height:30px;border-radius:30px;padding:6px 4px;font-size:16px;} //1024　↓
        .closeicon{color:$white;}
        &:hover{transform:rotate(180deg);transition:0.4s;
          @include breakpoint (medium down) {transform:rotate(0deg);} //1024　↓
        }
      }
      &.marbton{margin:0 0 20px 0;
        @include breakpoint (large down) {padding:15px 15px 15px 15px;} 
      }
      .bookingarea{overflow:hidden;
        .bi_box{width:calc((100% - 60px) / 3);margin-left:30px;float:left;position:relative;background-color:#f0f0f0;
          @include breakpoint (large down) {width:100%;margin-left:0px;margin-top:5px;} 
          &:first-child{margin:0;
            @include breakpoint (large down) {width:100%;margin-left:0px;margin-top:0px;} 
          }
          .bi_icon{position:absolute;left:10px;top:15px;z-index:1;color:$block6;font-size:18px;}
          select, input{width:100%;position:relative;z-index:9;padding:0 10px 0 35px;background-color:rgba(0, 0, 0, 0);border:none;color:$block6;font-size:14px;-webkit-appearance:menulist;
            height:50px;
            option{margin:0 15px;padding:5px 0;border-bottom:1px solid $block6;
              p{}
            }
          }
        }
      }
    }
  }
}
.mapbox{width:100vw;height:600px;margin:-270px 0 -107px 0;
  @include breakpoint (medium down) {height:400px;margin:-60px 0 -107px 0;} //1024　↓
  iframe{width:100%;height:100%;}
}
select.msgtext{-webkit-appearance: menulist;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
.recommend_pro{background-image: linear-gradient(to bottom, #fafafa, #e7e7e7);padding:70px 0 150px 0;margin:0 0 -100px 0;
  @include breakpoint (xlarge down) {padding:70px 0 100px 0;} // 1440　↓
  @include breakpoint (large down) {padding:50px 0 70px 0;} //1200　↓
  @include breakpoint (medium down) {padding:30px 0 80px 0;} //1024　↓
  @include breakpoint (small down) {padding:20px 0 80px 0;margin:0 0 -20px 0;}
  .productcenter{@extend %content_w;margin:0 auto;position:relative;
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          .pro_box{width:calc(100% / 1 - 50px);margin:70px 25px 0 25px;float:left;background-color:#fff;
            @include breakpoint (xlarge down) {} // 1440　↓
            @include breakpoint (large down) {width:calc(100% / 1 - 30px);margin:35px 15px 0 15px;}//1200　↓
            @include breakpoint (medium down) {width:calc(100% / 1 - 30px);margin:35px 15px 0 15px;} //1024　↓
            @include breakpoint (small down) {width:calc(100% / 1 - 0px);margin:35px 0px 0 0px;border:1px solid #bfbfbf;}
            .proimg{width:100%;cursor:pointer;position:relative;z-index:11;display:block;
              @include breakpoint (small down) {width:100px;height:100px;overflow:hidden;position:absolute;}
              .saleicon{width:50px;height:50px;position:absolute;right:10px;top:10px;z-index:9;
                @include breakpoint (medium down) {width:30px;height:30px;} //1024　↓
                img{width:100%;}
              }
              .coverbox{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;transition:0.4s;background-color:rgba(0,0,0,0.6);}
              .addicon{position:absolute;width:50px;height:50px;left:calc(50% - 25px);top:calc(50% - 25px);z-index:9;opacity:0;transition:0.4s;font-size:50px;color:#86b12e;
                &::before{margin:0;}
              }
              img{width:100%;transition:0.4s;position:relative;z-index:8;}
              &:hover{
                .coverbox{opacity:1;transition:0.4s;}
                .addicon{opacity:1;transition:0.4s;}
                img{-webkit-filter:brightness(.5);transition:0.4s;
                  @include breakpoint (medium down) {-webkit-filter:brightness(1);} 
                }
              }
            }
            .pro_article{
              @include breakpoint (small down) {width:100%;}
              .pro_name{width:100%;font-weight:700;letter-spacing:2px;color:$green;margin:20px 0 0 0;padding:0 30px;font-size:28px;
                @include breakpoint (xlarge down) {padding:0 25px;} // 1440　↓
                @include breakpoint (large down) {padding:0 20px;}
                @include breakpoint (medium down) {} 
                @include breakpoint (small down) {margin:15px 0 0 0;font-size:22px;margin:20px 0 0 110px;}
              }
              .subtitle{width:100%;font-weight:700;letter-spacing:2px;color:$block3;padding:0 30px;
                @include breakpoint (xlarge down) {padding:0 25px;} // 1440　↓
                @include breakpoint (large down) {padding:0 20px;}
                @include breakpoint (medium down) {} 
                @include breakpoint (small down) {font-size:14px;margin:0 0 0 110px;}
              }
              .pricebox{width:calc(100% - 60px);border:1px solid #bfbfbf;border-radius:30px;overflow:hidden;margin:15px auto 15px auto;
                @include breakpoint (xlarge down) {width:calc(100% - 50px);} // 1440　↓
                @include breakpoint (large down) {width:calc(100% - 40px);}
                @include breakpoint (medium down) {} 
                @include breakpoint (small down) {margin:25px auto 0px auto;width:calc(100% - 0px);border-radius:0px;border-left:none;border-right:0;}
                .price{color:$block4;text-align:center;width:calc(100% / 2 - 1px);float:left;padding:12px 0 12px 0;font-size:15px;
                  // @include breakpoint (small down) {width:calc(100% / 1);}
                  &:last-child{border-left:1px solid #bfbfbf;
                    // @include breakpoint (small down) {border:none;}
                  }
                  span{color:$rad;font-weight:700;font-size:16px;}
                }
              }
              .addcar{width:calc(100% - 60px);margin:0px 0 30px 0;padding:4px 30px;overflow:hidden;
                @include breakpoint (xlarge down) {width:calc(100% - 50px);padding:4px 25px;} // 1440　↓
                @include breakpoint (large down) {width:calc(100% - 40px);padding:4px 20px;}
                @include breakpoint (medium down) {width:calc(100% - 40px);} 
                @include breakpoint (small down) {margin:0;padding:0;width:calc(100% - 0px);}
                .amount{position:relative;width:calc(100% / 2 - 10px);float:left;
                  @include breakpoint (medium down) {}
                  @include breakpoint (small down) {width:100%;}
                  select{width:100%;border:none;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);padding:0 15px;transition:0.4s;height:50px;background-color:rgba(255,255,255,0);position:relative;z-index:6;cursor:pointer;
                    @include breakpoint (medium down) {margin:0 0 20px 0;}
                    @include breakpoint (small down) {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);margin:0;}
                  }
                  .selectarrow{position:absolute;transform:rotate(90deg);color:$block3;right:15px;top:calc(50% - 12px);
                    @include breakpoint (medium down) {}
                  }
                  &:hover{
                    select{box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.21);transition:0.4s;
                      @include breakpoint (medium down) {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);}
                    }
                  }
                }
                .addcar_btn{width: calc(100% / 2 - 10px);float:right;background-color:$white;color:$block6;text-align:center;padding: 13px 0;border:none;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
                  transition:0.4s;cursor:pointer;
                  @include breakpoint (small down) {width:100%;background-color:$rad;color:$white;}
                  &:hover{background-color:$rad;transition:0.4s;color:$white;}
                }
              }
            }
          }
        }
      }
    }
    .reco_prevarrow, .reco_nextarrow{position:absolute;z-index:9;outline:none;}
    .reco_prevarrow{height:30px;width:100px;
      left:-120px;top:calc(50% - 15px);color:#bfbfbf;cursor:pointer;
      @include breakpoint (large down) {left:-90px;} //1200　↓
      @include breakpoint (medium down) {left:-15px;width:60px;color:$green;top:calc(70% - 15px);}
      @include breakpoint (small down) {top:initial;bottom:-40px;}
      &.click{display:block;}
      .prevbox{
        &:before{content:"";width:100px;height:2px;border-radius:10px;transition:0.4s;background-color:#bfbfbf;position:absolute;left:0;bottom:-5px;
          @include breakpoint (medium down) {width:60px;background-color:$green;}
        }
        &:after{content:"";width:0px;height:2px;border-radius:10px;transition:0.4s;background-color:#bfbfbf;position:absolute;right:0;bottom:-5px;transition:0.4s;
          @include breakpoint (medium down) {width:60px;background-color:$green;}
        }
      }
      &:hover{text-shadow: rgba(0,0,0,0.3) 0.1em 0.1em 0.2em;transition:0.4s;
        color:$green;transition:0.4s;
        .prevbox{
          &:after{width:100px;transition:0.4s;background-color:$green;
            @include breakpoint (medium down) {width:60px;}
          }
        }
      }
    }
    .reco_nextarrow{height:30px;width:100px;text-align:right;
      right:-120px;top:calc(50% - 15px);color:#bfbfbf;cursor:pointer;transition:0.4s;
      @include breakpoint (large down) {right:-90px;} //1200　↓
      @include breakpoint (medium down) {right:-15px;width:60px;color:$green;top:calc(70% - 15px);}
      @include breakpoint (small down) {top:initial;bottom:-40px;}
      &.click{display:block;}
      .nextbox{
        &:before{content:"";width:100px;height:2px;border-radius:10px;transition:0.4s;background-color:#bfbfbf;position:absolute;right:0;bottom:-5px;
          @include breakpoint (medium down) {width:60px;background-color:$green;}
        }
        &:after{content:"";width:0px;height:2px;border-radius:10px;transition:0.4s;background-color:#bfbfbf;position:absolute;left:0;bottom:-5px;transition:0.4s;
          @include breakpoint (medium down) {width:60px;background-color:$green;}
        }
      }
      &:hover{text-shadow: rgba(0,0,0,0.3) 0.1em 0.1em 0.2em;transition:0.4s;
        color:$green;transition:0.4s;
        .nextbox{
          &:after{width:120px;transition:0.4s;background-color:$green;}
        }
      }
    }
  }
}


// --------------------------------------------------------
/* Animate Style*/
// --------------------------------------------------------
@keyframes bg{
 0%{}
 100%{}
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 6px 15px;
  @include breakpoint (large down) {margin:0px 15px;} //1200　↓
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius:3px;
}
.marktext{
  color:$block6;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $green;
}
.container input:checked ~ .marktext {
  color:$green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 10px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}