extends _layout
block page_title
  title 商品列表
block style
  link(type="text/css" , rel="stylesheet", href="css/vendor/swiper/swiper.css")
  link(type="text/css" , rel="stylesheet", href="css/order.min.css")
block script
  script(type="text/javascript" src="js/vendor/swiper/swiper.min.js")
  script(type="text/javascript").
    $(document).ready(function () {
      //頁碼置中
      var pagelinksh_width = 0 ;
      $('.pageLinks .center_links a, .pageLinks .center_links strong').each(function(key, value){
        pagelinksh_width += ( $(this).width() + 2 + 10 );
      });
      $('.pageLinks').width(pagelinksh_width);
    });
block content
  mixin news_slider (sortname)
    a(href="news_view.html").swiper-slide
      .slidercenter
        //照片尺寸為w500px x h600px
        .newsimg
          img(src="images/index/proimg1.jpg", alt="")
          .addicon
        h6.sortname=sortname
        h6.newstext 草菓農場幸運大轉盤 好康歡樂送！幸運輪盤轉轉樂！草菓農場幸運大轉盤 好康歡樂送！幸運輪盤轉轉樂！
        h6.newstime 2019-07-01
  mixin tablebox (classname, paystatus)
    .tablebox(class=classname)
      h6.date 
        span.motitle 預約日期
        span 2019-07-30
      h6.site 
        a(href="")
          span.motitle 場地
          span 草菓農場
            i.pinicon.be-icon.be-icon-pin
      h6.session 
        span.motitle 場次
        span 2017-05-06 am08:00:00
      h6.number
        span.motitle 人數
        span 20
      h6.status 
        span.motitle 預約狀態
        span=paystatus

  section.project_tab
    .project_center
      .swiper-container.gallery-thumbs
        .swiper-wrapper
          // 標籤分類文字不超過六個字
          a(href="members_editinfo.html").swiper-slide: p 編輯會員資料
          a(href="members_order.html").swiper-slide: p 訂單紀錄
          a.swiper-slide.active: p 預約紀錄
          a(href="").swiper-slide: p 登出
        i.arrowicon.be-icon.be-icon-prev
        i.arrowicon.be-icon.be-icon-next
  section.order_content
    .ordercenter
      h2.member_pagename 嗨，Jack Hsieh
      h5.member_pagetext 歡迎您的蒞臨!!
      .member_center.reservation
        h3.tabletitle 訂單紀錄
        .tablebox.title 
          h6.date 預約日期
          h6.site 場地
          h6.session 場次
          h6.number 人數
          h6.status 預約狀態
        +tablebox('unpay','待付款')
        +tablebox('','已付款')
        +tablebox('','已付款')
        +tablebox('expired','已過期')
        +tablebox('','已付款')
        +tablebox('','已付款')
        +tablebox('unpay','待付款')
        +tablebox('expired','已過期')
        +tablebox('expired','已過期')
        +tablebox('expired','已過期')
        




    .pageLinks
      .center_links
        span.prev <a href=""><</a>
        strong 1
        a(href="") 2
        a(href="") ...
        a(href="") 10
        span.next <a href="">></a>	
    