extends _layout
block page_title
  title 常見問題
block style
  link(type="text/css" , rel="stylesheet", href="css/vendor/swiper/swiper.css")
  link(type="text/css" , rel="stylesheet", href="css/service.min.css")
block script
  script(type="text/javascript" src="js/vendor/swiper/swiper.min.js")
  script(type="text/javascript").
    $(document).ready(function () {
    });
block content
  section.projecttop
  section.service_content
    .servicecenter
      h2.member_pagename 服務條款
      h5.member_pagetext 服務說明
      .member_center
        h5.member_pagetext 關於「草菓農場」服務條款，請消費者詳細閱讀以下:<br><br><br>
          | 一、認知與接受條款
          | <br>「草菓農場」購物商城(以下簡稱「草菓」)係依據本服務條款提供服務 (以下簡稱「本服務」)。當您完成「草菓」之購買手續、或開始使用本服務時，即表示已閱讀、瞭解並同意接受本服務條款之所有內容，並完全接受本服務現有與未來衍生的服務項目及內容。「草菓」有權於任何時間修改或變更本服務條款之內容，修改後的服務條款內容將公佈網站上，「草菓」將不會個別通知，建議您隨時注意該等修改或變更。消費者於任何修改或變更後繼續使用本服務時，視為消費者已閱讀、瞭解並同意接受該等修改或變更。若不同意上述的服務條款修訂或更新方式，或不接受本服務條款的其他任一約定，會員應立即停止使用本服務。
          | <br>若消費者為未滿二十歲之未成年人，應於會員的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得購買、使用或繼續使用本服務。當消費者使用或繼續使用「草菓」時，即推定消費者的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。
          | <br>消費者及「草菓」雙方同意使用本服務之所有內容包括意思表示等，以電子文件作為表示方式。<br>
          | <br>二、消費者的註冊義務
          | <br>為了能使用本服務，消費者同意以下事項：
          | <br>依本服務購買商品後即註冊為「草菓」之會員表，提供會員本人正確、最新的資料，且不得以第三人之名義註冊為會員。即時維持並更新會員個人資料，確保其正確性，以獲取最佳之服務。
          | <br>若會員提供任何錯誤或不實的資料、或未按指示提供資料、或欠缺必要之資料、或有重覆註冊帳號等情事時，「草菓」有權不經事先通知，逕行暫停或終止會員的帳號，並拒絕會員使用本服務之全部或一部。<br>
          | <br>三、「草菓」隱私權政策
          | <br>關於消費者的個人資料以及其他特定資料依「草菓」的「隱私權政策」受到保護與規範。<br>
          | <br>四、兒童及青少年之保護
          | <br>為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（或監護人）應盡到下列義務： 未滿十二歲之兒童使用本服務時時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年使用本服務前亦應斟酌是否給予同意。<br>
          | <br>五、使用者的守法義務及承諾
          | <br>消費者承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。消費者若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。消費者同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：
          | <br>公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案
          | <br>侵害或毀損「草菓」或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利
          | <br>違反依法律或契約所應負之保密義務
          | <br>冒用他人名義使用本服務
          | <br>傳輸或散佈電腦病毒
          | <br>從事未經「草菓」事前授權的商業行為
          | <br>刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經「草菓」許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料
          | <br>對本服務其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為
          | <br>其他不符本服務所提供的使用目的之行為或「草菓」有正當理由認為不適當之行為<br>
          | <br>六、服務內容之變更與電子報及EDM發送
          | <br>消費者同意「草菓」所提供本服務之範圍，「草菓」均得視業務需要及實際情形，增減、變更或終止相關服務的項目或內容，且無需個別通知會員。
          | <br>消費者同意「草菓」得依實際執行情形，增加、修改或終止相關活動，並選擇最適方式告知會員。
          | <br>消費者同意「草菓」得不定期發送電子報或商品訊息(EDM)至會員所登錄的電子信箱帳號。當會員收到訊息後表示拒絕接受行銷時，「草菓」將停止繼續發送行銷訊息。<br>
          | <br>七、服務之停止、中斷
          | <br>「草菓」將依一般合理之技術及方式，維持系統及服務之正常運作。但於以下各項情況時，「草菓」有權可以停止、中斷提供本服務：
          | <br>「草菓」網站電子通信設備進行必要之保養及施工時
          | <br>發生突發性之電子通信設備故障時
          | <br>「草菓」網站申請之電子通信服務被停止，無法提供服務時
          | <br>由於天災等不可抗力之因素或其他不可歸責於掌生穀粒致使掌生穀粒網站無法提供服務時<br>
          | <br>八、交易行為
          | <br>消費者使用本服務進行交易時，應依據「草菓」所提供之確認商品數量及價格機制進行。
          | <br>消費者同意使用本服務訂購產品時，於「草菓」通知確認交易成立前，「草菓」仍保有不接受訂單或取消出貨之權利。會員向「草菓」發出訂購通知後，系統將自動發出接受通知，但此通知並非訂單確認通知，關於交易成立與否「草菓」將另行告知。若因訂單內容之標的商品或服務，其交易條件(包括但不限於規格、內容說明、圖片、)有誤時，「草菓」仍得於下單後三個工作日內拒絕該筆訂單。
          | <br>消費者若於使用本服務訂購產品後倘任意退換貨、取消訂單、或有任何「草菓」認為不適當而造成「草菓」作業上之困擾或損害之行為，「草菓」將可視情況採取拒絕交易，或永久取消購買資格辦理。若消費者訂購之產品若屬於以下情形：（１）預購類商品（２）商品頁顯示無庫存（３）須向供應商調貨（４）轉由廠商出貨，因商品交易特性之故，倘商品缺絕、或廠商因故無法順利供貨導致訂單無法成立時，「草菓」將以最適方式(以電子郵件為主，再輔以電話、郵遞或傳真等)告知。
          | <br>消費者使用本服務進行交易時，得依照消費者保護法之規定行使權利。因會員之交易行為而對本服務條款產生疑義時，應為有利於消費者之解釋。<br>
          | <br>九、責任之限制與排除
          | <br>本服務所提供之各項功能，均依該功能當時之現況提供使用，「草菓」對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。
          | <br>「草菓」並不保證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，「草菓」不負賠償責任。<br>
          | <br>十、智慧財產權保護聲明
          | <br>「草菓」網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由草菓科技股份有限公司依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。
          | <br>任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得草菓科技股份有限公司的事前書面同意。
          | <br>尊重智慧財產權是您應盡的義務，如有違反，您應對草菓科技股份有限公司負損害賠償責任。在尊重他人智慧財產權之原則下，會員同意在使用「草菓」網站之服務時，不作侵害他人智慧財產權之行為。若消費者有涉及重覆侵權之情事，「草菓」可暫停全部或部份之服務，或逕自以取消資格之方式處理。<br>
          | <br>十一、消費者對「草菓」之授權
          | <br>對於消費者上載、傳送、輸入或提供之資料，消費者同意「草菓」網站得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，以提供使用者其他資訊或服務、或作成會員統計資料、或進行關於網路行為之調查或研究，或為任何之合法使用。 若會員無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供至「草菓」。任何資料一經消費者上載、傳送、輸入或提供至「草菓」時，視為消費者已允許「草菓」無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，並得將前述權利轉授權他人，消費者對此絕無異議。消費者並應保證「草菓」使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對「草菓」負損害賠償責任（包括但不限於訴訟費用及律師費用等）。<br>
          | <br>十二、特別授權事項
          | <br>因使用本服務所提供之網路交易或活動，可能須透過宅配或貨運業者始能完成貨品(或贈品等)之配送或取回，因此，消費者同意並授權「草菓」得視該次網路交易或活動之需求及目的，將由會員所提供且為配送所必要之個人資料(如收件人姓名、配送地址、連絡電話等)，提供予宅配貨運業者及相關配合之廠商，以利完成該次貨品(或贈品等)之配送、取回。<br>
          | <br>十三、拒絕或終止會員的使用
          | <br>消費者同意「草菓」得基於維護交易安全之考量，因任何理由，包含但不限於缺乏使用，或違反本服務條款的明文規定及精神，終止「草菓」的會員資料（或其任何部分）或本服務（或其任何部分）之使用，或將本服務內任何「會員內容」加以移除並刪除。此外，消費者同意若本服務（或其任何部分）之使用被終止，「草菓」對消費者或任何第三人均不承擔責任。<br>
          | <br>十四、準據法與管轄法院
          | <br>本服務條款之解釋與適用，以及與本服務條款有關或消費者與「草菓」間因交易行為而產生之爭議或糾紛，應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院，但若法律對於管轄法院另有強制規定者，仍應依其規定。
        